/* line 48, ../scss/_main.scss */
html, body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #28292B;
  font-size: 16px;
}

/* line 57, ../scss/_main.scss */
h1 {
  font-family: "Bree Serif", sans-serif;
  color: #F94851;
  font-size: 64px;
  line-height: 60px;
  margin: 0 0 10px;
}

/* line 65, ../scss/_main.scss */
h2 {
  font-family: "Bree Serif", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin: 10px 0;
}

/* line 72, ../scss/_main.scss */
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFB76E;
  text-transform: uppercase;
  margin: 5px 0;
}

/* line 80, ../scss/_main.scss */
h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin: 5px 0;
}

/* line 87, ../scss/_main.scss */
.p-grey {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #707070;
  margin: 10px 0;
}

/* line 93, ../scss/_main.scss */
.p-black {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 10px 0;
}

/* line 98, ../scss/_main.scss */
.btn {
  border: 1px solid #707070;
  border-radius: 8px;
  padding: 10px;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 130px;
  cursor: pointer;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
/* line 108, ../scss/_main.scss */
.btn:hover {
  background: #F3902C;
  color: white;
  border: 1px solid #F3902C;
}

/* line 115, ../scss/_main.scss */
.btn--primary {
  background: #FFB76E;
  border: 1px solid #FFB76E;
  color: white;
}

/* line 121, ../scss/_main.scss */
.txt-l {
  text-align: left;
}

/* line 125, ../scss/_main.scss */
.txt-r {
  text-align: right;
}

/* line 129, ../scss/_main.scss */
.txt-c {
  text-align: center;
}

/* line 133, ../scss/_main.scss */
.no-pad {
  padding: 0;
}

/* line 137, ../scss/_main.scss */
.no-pad-l {
  padding-left: 0;
}

/* line 141, ../scss/_main.scss */
.no-pad-r {
  padding-right: 0;
}

/* line 145, ../scss/_main.scss */
.img-center {
  display: block;
  margin: 0 auto;
}

/* line 150, ../scss/_main.scss */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* line 156, ../scss/_main.scss */
.navigation {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 161, ../scss/_main.scss */
.menu__list {
  list-style-type: none;
  padding-left: 0;
}
/* line 164, ../scss/_main.scss */
.menu__list .list__item {
  display: inline-block;
  padding-left: 10px;
}

/* line 170, ../scss/_main.scss */
.menu__link {
  color: #707070;
  text-decoration: none;
  margin-bottom: 8px;
  background-image: -webkit-linear-gradient(top, transparent 0, #F3902C 0);
  background-image: -o-linear-gradient(top, transparent 0, #F3902C 0);
  background-image: linear-gradient(to bottom, transparent 0, #F3902C 0);
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  background-position: 0 25px;
  background-repeat: no-repeat;
  font-weight: inherit;
}
/* line 43, ../scss/_main.scss */
.menu__link:hover {
  background-position: 0 15px;
}

/* line 177, ../scss/_main.scss */
.hero__desktop {
  display: none;
}

/* line 181, ../scss/_main.scss */
.header {
  padding-bottom: 20px;
}

/* line 185, ../scss/_main.scss */
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 189, ../scss/_main.scss */
.header__p {
  max-width: 650px;
  margin: 10px auto 15px;
}

/* line 194, ../scss/_main.scss */
.benefits__header,
.benefits_icons {
  padding: 15px 0;
}

/* line 199, ../scss/_main.scss */
.experience {
  padding: 50px 0;
}

/* line 203, ../scss/_main.scss */
.experience__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* line 208, ../scss/_main.scss */
.form_inner {
  position: relative;
}

/* line 212, ../scss/_main.scss */
.form__input {
  width: 100%;
  background: white;
  border: 4px solid #F5CFCA;
  color: #707070;
  padding: 10px 130px 10px 10px;
  border-radius: 8px;
}

/* line 221, ../scss/_main.scss */
.newsletter {
  padding: 30px 0 40px;
  background: #F6EDE1;
}
