/* line 54, ../scss/_main.scss */
html, body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #28292B;
  font-size: 16px;
}

/* line 63, ../scss/_main.scss */
input:focus,
a:focus {
  outline: none;
  box-shadow: 0 0 0 0.08rem #F3902C;
}

/* line 69, ../scss/_main.scss */
h1 {
  font-family: "Bree Serif", sans-serif;
  color: #F94851;
  font-size: 64px;
  line-height: 60px;
  margin: 0 0 10px;
}

/* line 77, ../scss/_main.scss */
h2 {
  font-family: "Bree Serif", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin: 10px 0;
}

/* line 84, ../scss/_main.scss */
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFB76E;
  text-transform: uppercase;
  margin: 5px 0;
}

/* line 92, ../scss/_main.scss */
h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin: 5px 0;
}

/* line 99, ../scss/_main.scss */
.p-grey {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #707070;
  margin: 10px 0;
}

/* line 105, ../scss/_main.scss */
.p-black {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 10px 0;
}

/* line 110, ../scss/_main.scss */
.btn {
  border: 1px solid #707070;
  border-radius: 8px;
  padding: 10px;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 130px;
  cursor: pointer;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
/* line 120, ../scss/_main.scss */
.btn:hover {
  background: #F3902C;
  color: white;
  border: 1px solid #F3902C;
}

/* line 127, ../scss/_main.scss */
.btn--primary {
  background: #FFB76E;
  border: 1px solid #FFB76E;
  color: white;
}

/* line 133, ../scss/_main.scss */
.btn--form {
  border: 4px solid #FFB76E;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 139, ../scss/_main.scss */
.btn--form:hover {
  background: #F3902C;
  color: white;
  border: 4px solid #F3902C;
}

/* line 146, ../scss/_main.scss */
.txt-l {
  text-align: left;
}

/* line 150, ../scss/_main.scss */
.txt-r {
  text-align: right;
}

/* line 154, ../scss/_main.scss */
.txt-c {
  text-align: center;
}

/* line 158, ../scss/_main.scss */
.no-pad {
  padding: 0;
}

/* line 162, ../scss/_main.scss */
.no-pad-l {
  padding-left: 0;
}

/* line 166, ../scss/_main.scss */
.no-pad-r {
  padding-right: 0;
}

/* line 170, ../scss/_main.scss */
.img-center {
  display: block;
  margin: 0 auto;
}

/* line 175, ../scss/_main.scss */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* line 180, ../scss/_main.scss */
.navigation {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 185, ../scss/_main.scss */
.menu__list {
  list-style-type: none;
  padding-left: 0;
}
/* line 188, ../scss/_main.scss */
.menu__list .list__item {
  display: inline-block;
  padding-left: 10px;
}

/* line 194, ../scss/_main.scss */
.menu__link {
  color: #707070;
  text-decoration: none;
  margin-bottom: 8px;
  background-image: -webkit-linear-gradient(top, transparent 0, #F3902C 0);
  background-image: -o-linear-gradient(top, transparent 0, #F3902C 0);
  background-image: linear-gradient(to bottom, transparent 0, #F3902C 0);
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  background-position: 0 25px;
  background-repeat: no-repeat;
  font-weight: inherit;
}
/* line 49, ../scss/_main.scss */
.menu__link:hover {
  background-position: 0 15px;
}

/* line 201, ../scss/_main.scss */
.hero__desktop {
  display: none;
}

/* line 205, ../scss/_main.scss */
.header {
  padding-bottom: 20px;
}

/* line 209, ../scss/_main.scss */
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 213, ../scss/_main.scss */
.header__p {
  max-width: 650px;
  margin: 10px auto 15px;
}

/* line 218, ../scss/_main.scss */
.benefits__header,
.benefits_icons {
  padding: 15px 0;
}

/* line 223, ../scss/_main.scss */
.experience {
  padding: 50px 0;
}

/* line 227, ../scss/_main.scss */
.experience__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* line 232, ../scss/_main.scss */
.form_inner {
  position: relative;
}

/* line 236, ../scss/_main.scss */
.form__input {
  width: 100%;
  background: white;
  border: 4px solid #F5CFCA;
  color: #707070;
  padding: 10px 130px 10px 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

/* line 247, ../scss/_main.scss */
.newsletter {
  padding: 30px 0 40px;
  background: #F6EDE1;
}

/* line 252, ../scss/_main.scss */
.footer {
  background: #F5CFCA;
  padding: 15px 0;
}

@media (min-width: 576px) {
  /* line 2, ../scss/_responsive.scss */
  html, body {
    font-size: 18px;
  }

  /* line 5, ../scss/_responsive.scss */
  .list__item {
    padding-left: 15px;
  }

  /* line 8, ../scss/_responsive.scss */
  h1 {
    font-size: 120px;
    line-height: 100px;
    margin: 15px 0 40px;
  }

  /* line 13, ../scss/_responsive.scss */
  h2 {
    font-size: 44px;
    line-height: 45px;
  }

  /* line 17, ../scss/_responsive.scss */
  h3 {
    font-size: 24px;
    margin: 10px 0;
  }

  /* line 21, ../scss/_responsive.scss */
  .header__p {
    margin: 20px auto;
  }
}
@media (min-width: 768px) {
  /* line 27, ../scss/_responsive.scss */
  .newsletter {
    background: url(../images/newsletter_bg_left.svg) left top no-repeat, url(../images/newsletter_bg_right.svg) right top no-repeat, #F6EDE1;
    background-size: contain;
  }
}
