$hero: #F94851;
$accent: #FFB76E;
$hover: #FF9E3C;
$bg: #F6EDE1;
$bgAccent: #F5CFCA;
$txtGrey: #4b4b4b;
$txtBlack: #141517;

@mixin serifHeader {
  font-family: "Bree Serif", sans-serif;
}

@mixin regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@mixin bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

@mixin transition {
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

@mixin flexVerticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin accentShadow {
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
}

@mixin linkHover {
  background-image: -webkit-linear-gradient(top, transparent 0, $hover 0);
  background-image: -o-linear-gradient(top, transparent 0, $hover 0);
  background-image: linear-gradient(to bottom, transparent 0, $hover 0);
  @include transition;
  background-position: 0 25px;
  background-repeat: no-repeat;
  font-weight: inherit;
  &:hover {
    background-position: 0 15px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background: white;
  @include regular;
  color: $txtBlack;
  font-size: 16px;
}

input:focus,
a:focus {
  outline: none;
  box-shadow: 0 0 0 0.08rem $hover;
}

h1 {
  @include serifHeader;
  color: $hero;
  font-size: 64px;
  line-height: 60px;
  margin: 0 0 10px;
}

h2 {
  @include serifHeader;
  font-size: 36px;
  line-height: 40px;
  margin: 10px 0;
}

h3 {
  @include bold;
  font-size: 20px;
  color: $accent;
  text-transform: uppercase;
  margin: 5px 0;
}

h4 {
  @include bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: 5px 0;
}

.p-grey {
  @include regular;
  color: $txtGrey;
  margin: 10px 0;
}

.p-black {
  @include bold;
  margin: 10px 0;
}

.btn {
  border: 1px solid $txtGrey;
  border-radius: 8px;
  padding: 10px;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 130px;
  cursor: pointer;
  @include transition;
  &:hover {
    background: $hover;
    color: white;
    border: 1px solid $hover;
  }
}

.btn--primary {
  background: $accent;
  border: 1px solid $accent;
  color: white;
}

.btn--form {
  border: 4px solid $accent;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  &:hover {
    background: $hover;
    color: white;
    border: 4px solid $hover;
  }
}

.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-c {
  text-align: center;
}

.no-pad {
  padding: 0;
}

.no-pad-l {
  padding-left: 0;
}

.no-pad-r {
  padding-right: 0;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.navigation {
  height: 80px;
  @include flexVerticalCenter;
}

.menu__list {
  list-style-type: none;
  padding-left: 0;
  .list__item {
    display: inline-block;
    padding-left: 10px;
  }
}

.menu__link {
  color: $txtGrey;
  text-decoration: none;
  margin-bottom: 8px;
  @include linkHover;
}

.hero__desktop {
  display: none;
}

.header {
  padding-bottom: 20px;
}

.header__info {
  @include flexVerticalCenter;
}

.header__p {
  max-width: 650px;
  margin: 10px auto 15px;
}

.benefits__header,
.benefits_icons {
  padding: 15px 0;
}

.experience {
  padding: 50px 0;
}

.experience__info {
  @include flexVerticalCenter;
  text-align: center;
}

.form_inner {
  position: relative;
}

.form__input {
  width: 100%;
  background: white;
  border: 4px solid $bgAccent;
  color: $txtGrey;
  padding: 10px 130px 10px 10px;
  border-radius: 8px;
  @include accentShadow;
  @include transition
}

.newsletter {
  padding: 30px 0 40px;
  background: $bg;
}

.footer {
  background: $bgAccent;
  padding: 15px 0;
}