$hero: #F94851;
$accent: #FFB76E;
$hover: #F3902C;
$bg: #F6EDE1;
$bgAccent: #F5CFCA;
$txtGrey: #707070;
$txtBlack: #28292B;

@mixin serifHeader {
  font-family: "Bree Serif", sans-serif;
}

@mixin regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@mixin bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

@mixin transition {
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

@mixin flexVerticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin linkHover {
  background-image: -webkit-linear-gradient(top, transparent 0, $hover 0);
  background-image: -o-linear-gradient(top, transparent 0, $hover 0);
  background-image: linear-gradient(to bottom, transparent 0, $hover 0);
  @include transition;
  background-position: 0 25px;
  background-repeat: no-repeat;
  font-weight: inherit;
  &:hover {
    background-position: 0 15px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background: white;
  @include regular;
  color: $txtBlack;
  font-size: 16px;
}

h1 {
  @include serifHeader;
  color: $hero;
  font-size: 64px;
  line-height: 60px;
  margin: 0 0 10px;
}

h2 {
  @include serifHeader;
  font-size: 36px;
  line-height: 40px;
  margin: 10px 0;
}

h3 {
  @include bold;
  font-size: 20px;
  color: $accent;
  text-transform: uppercase;
  margin: 5px 0;
}

h4 {
  @include bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: 5px 0;
}

.p-grey {
  @include regular;
  color: $txtGrey;
  margin: 10px 0;
}

.p-black {
  @include bold;
  margin: 10px 0;
}

.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-c {
  text-align: center;
}

.no-pad {
  padding: 0;
}

.no-pad-l {
  padding-left: 0;
}

.no-pad-r {
  padding-right: 0;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


.navigation {
  height: 80px;
  @include flexVerticalCenter;
}

.menu__list {
  list-style-type: none;
  padding-left: 0;
  .list__item {
    display: inline-block;
    padding-left: 10px;
  }
}

.menu__link {
  color: $txtGrey;
  text-decoration: none;
  margin-bottom: 8px;
  @include linkHover;
}
