$hero: #F94851;
$accent: #FFB76E;
$hover: #F3902C;
$bg: #F6EDE1;
$bgAccent: #F5CFCA;
$txtGrey: #707070;
$txtBlack: #28292B;

@mixin serifHeader {
  font-family: "Bree Serif", sans-serif;
}

@mixin regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@mixin bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

html, body {
  margin: 0;
  padding: 0;
  background: white;
  @include regular;
  color: $txtBlack;
  font-size: 16px;
}


.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-c {
  text-align: center;
}

.no-pad {
  padding: 0;
}

.no-pad-l {
  padding-left: 0;
}

.no-pad-r {
  padding-right: 0;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}